.sidebar {
    width: 260px;
    min-height: 100vh;
    background: linear-gradient(to bottom, #a18cd1, #fbc2eb);
    color: white;
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 1rem;
    border-radius: 0 0 0 30px;
}

.sidebar .nav-link {
    color: #fff;
    margin: 8px 0;
    padding: 10px 15px;
    border-radius: 12px;
    transition: all 0.3s;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}

.sidebar .nav-link.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

